build --color=yes
build --enable_platform_specific_config
test --test_output=errors
test --test_verbose_timeout_warnings=true

build:linux --cxxopt="-std=c++2a"
build:windows --cxxopt="/std:c++latest"
