---
Checks:          'clang-diagnostic-*,clang-analyzer-*,bugprone-*,modernize-*'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
...

