name: Nestest CI

on: [push, pull_request]

jobs:
  ci:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}

    env:
      CTEST_OUTPUT_ON_FAILURE: ON
      CTEST_PARALLEL_LEVEL: 2

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: nestest-clang-10
            os: ubuntu-20.04
            compiler: clang
            version: "10"
            cmake-args: -DADDRESS_SANITIZER=ON -DUNDEFINED_SANITIZER=ON -DCMAKE_BUILD_TYPE=Debug

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install
        run: |
          pip install cmake==3.18.2.post1 ninja==1.10.0.post1 --upgrade

          sudo apt update

          sudo apt-get install -y clang-${{ matrix.version }} g++-multilib
          echo "::set-env name=CC::clang-${{ matrix.version }}"
          echo "::set-env name=CXX::clang++-${{ matrix.version }}"

      - name: CMake
        run: |
          cmake --version
          ninja --version
          echo "CMake args: ${{ matrix.cmake-args }}"

          cmake -S . -B build ${{ matrix.cmake-args }}

      - name: Build
        run: |
          cmake --build build --target nestest

      - name: Run Nestest
        env:
          ASAN_OPTIONS: "symbolize=1:strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1"
          UBSAN_OPTIONS: "print_stacktrace=1:halt_on_error=1"
        run: |
          wget https://robinli.eu/f/nestest.nes
          wget https://robinli.eu/f/nestest.log
          ./build/nestest/nestest nestest.nes > nestest-output.log

      - name: Diff output
        run: python3 nestest/test_nestest.py --nestest-log nestest.log --nestest-rom nestest.nes --nestest-bin build/nestest/nestest --min-matching-lines 8970

      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          name: nestest-log
          path: nestest-output.log
